<button 
  class="scroll-to-top-button fixed bottom-4 right-4 p-3 rounded-full bg-blue-500 text-white shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
>
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
  </svg>
</button>

<script>
  let showButton = false;

  const handleScroll = () => {
    if (typeof window !== 'undefined') {
      showButton = window.scrollY > 300;
      const button = document.querySelector('.scroll-to-top-button') as HTMLButtonElement;
      if (button) {
        button.style.display = showButton ? 'block' : 'none'; 
      }
    }
  }

  const scrollToTop = () => {
    if (typeof window !== 'undefined') {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
  };

  // Buscar el botón y agregar el listener al click
  const scrollToTopButton = document.querySelector('.scroll-to-top-button');
  if (scrollToTopButton) {
    scrollToTopButton.addEventListener('click', scrollToTop);
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('scroll', handleScroll);
  }
</script>