---
import MostrarMasTexto from '../sections/MostrarMasTexto';
import Image from '../components/Image.astro';

---

<section class="bg-slate-50 items-center justify-center">
  <div class="inset-0 flex items-center justify-center">
    <div class="max-w-6xl mx-auto px-4 flex flex-col lg:flex-row items-center">
      <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:ml-8 text-center lg:text-left animate-fade-in-right">
        <h1 class="text-5xl font-bold text-black">Chatbot con IA 24/7:</h1>
        <MostrarMasTexto
          client:load
          texto="Maximiza la satisfacción del cliente con nuestro chatbot impulsado por inteligencia artificial."
          textoAdicional="Responde a las preguntas de los clientes, ofrece recomendaciones de productos y brinda asistencia personalizada en cualquier momento del día o de la noche."
        />
      </div>
      <div class="lg:w-1/2">
        <Image src="/Recurso 2.png" alt="Mujer sonriente con teléfono" class="max-w-lg mx-auto lg:mx-0 animate-fade-in-left" lazyLoad={true} />
      </div>
    </div>
  </div>
</section>
